.container.venue-container {
	.section {
		flex-direction: column;

		.venue-details {
			display: flex;

			.venue {
				font-family: 'Open Sans', sans-serif;
				padding: 10px;
				margin-top: 30px;
				position: relative;

				.venue-name {
					display: flex;
					align-items: center;
					font-size: 40px;
				}

				.venue-users {
					display: flex;
					align-items: center;
					font-size: 16px;

					>span {
						font-size: 30px;
						font-family: monospace;
						font-weight: bold;
						margin-right: 10px;
						background-color: #008542;
						padding: 0 10px;
						border-radius: 16px;
						color: #fff;
					}
				}

				.venue-pill {
					text-transform: uppercase;
					margin-right: 5px;
					font-weight: bold;
					font-size: 12px;
					display: inline;
					padding: 3px 10px;
					border-radius: 13px;
					background-color: #ddd;
					border: 1px solid #ddd;

					&.venue-state {
						background-color: #fff;
						color: #008542;
						border-color: #008542;
					}
				}
			}

			.map {
				height: 280px;
				margin: 10px;
				width: 100%;
				max-width: 280px;
				border-radius: 10px;
				overflow: hidden;
			}

			.actions {
				display: flex;
				margin-top: 70px;

				.cta-btn {
					cursor: pointer;
					border-radius: 7px;
					padding: 7px 10px;
					margin-top: 10px;
					background-color: #fff;
					border: 1px solid #ddd;
					transition: all 0.3s;
					margin-right: 10px;

					&:hover {
						background-color: #008542;
						border: 1px solid #008542;
						color: #fff;
					}
				}
			}
		}
	}

}

.MuiModal-root {
	display: flex;
	align-items: center;
	justify-content: center;
}

.table {
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}



.header {
	background-color: white;
}

.active {
	display: flex;
	gap: 130px;
}

.icons {
	display: flex;
	justify-content: right;
	margin-right: 5px;
	gap: 10px;
}

.ico {
	font-size: 25px;

}

.btns {
	background-color: #008542;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

	margin: 5px;
	border-radius: 7px;
	color: white;
	padding: 7px 10px;

}

.btns:hover {
	background-color: rgb(200, 194, 194);
	color: black;
}

.btns2 {
	display: flex !important;

	align-items: center;
	justify-content: center;
}

.text {
	padding-left: 10px;
	font-size: 20px;
}