body {
    padding: 0;
    margin: 0;
  }
  
  #notfound {
    position: relative;
    height: 100vh;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .err-btn{
    background-color: #008542;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    margin:5px;
    border-radius:7px;
    color: white;
    font-size: 20px;
    padding:12px 12px;
    
  }
  .err-btn:hover{
    background-color: rgb(200, 194, 194);
    color:black;
  }
  
  .notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }
  
  .heading {
    font-family: 'Montserrat', sans-serif;
    left: 50%;
    top: 50%;
    font-size: 252px;
    font-weight: 900;
    margin: 0px;
    color: rgb(0,133,66);
    text-transform: uppercase;
    letter-spacing: -40px;
    margin-left: -20px;
  }
  
  .spanerror {
    text-shadow: -8px 0px 0px #fff;
  }

  
  .errormessage {
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(0,133,66);
    margin-top: 0px;
    margin-bottom: 25px;
  }
  
  @media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      height: 200px;
    }
    .heading {
        font-size: 200px;
        }
    }
  
  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
      height: 162px;
    }
    .heading {
      font-size: 162px;
      height: 150px;
      line-height: 162px;
    }
    .errormessage {
      font-size: 16px;
    }
  }