.search{
    padding-left:60px;
    background-color: rgb(18, 70, 15);
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap:20px;
    width:400px;

}