*{
    background-color: white;
}
.line1{
    height:405px;

}
.line,.line1,.box,.typo,.slide{
    background-color: white!important;
}

.textven{
    float:right;
    border-radius: 5px;
    padding:5px;
    background-color: white;
}
.typo{
    font-weight: normal!important;

    font-family:Arial, Helvetica, sans-serif !important;  
}
.typo11,.typo12{
    background-color: white;
    /*font-family:Georgia, 'Times New Roman', Times, serif!important;*/
    font-family:Arial, Helvetica, sans-serif !important;  
    font-weight: bold!important;
}
.typo11{
    font-size: 25px  ;
    padding-bottom:3px;
    
}


.typo12{
    padding-top: 0px;
    padding-bottom: 2px;
    font-size:15px;

}
.typo13{
    height:7px!important;
    
}
.box1{
    padding-top:20px;
    padding-bottom:10px;
    line-height: 14px;
    background-color: white;
}
.span{
    font-size: 11px;
    font-weight: normal;
    background-color: white;
}
.span1{
    font-size: 23px;
    font-weight: bold;
    background-color: white;
}





