.jur-box.jur-selector {
  select {
    text-align: center;
    border-radius: 15px;
    border: 1px solid #008542;
    background-color: #008542;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
  }
}